


.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register-card {
    width: 400px;
    padding: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.register-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}


.submit-btn {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
}
