@{
    ViewData["Title"] = "Home";
}






<head>

    <link rel="stylesheet" href="~/css/Home.css" />

</head>



<body>


    <div class="main-page-content">

      
        <img class="main-img" src="~/Images/HomePage_Illustration.png" alt="Main Image" />
            
        <span class="description-text">
           <string>Fact</string> is a world class provider of Turnkey and customized solutions in Islamic Banking Systems (ORABANK) Islamic General Insurance (TAKAFUL), Medical Care (Third Party Administration –TPA-). Since 1998 FACT has expanded its operation in the MENA region and successfully completed projects and consultancy services in countries such as Kuwait, UAE, Libya, Egypt, Sudan, Iraq, Palestine and Jordan.
           In today's highly competitive IT market place, Future Applied Computer Technology (FACT) stands ahead of its peers. FACT is a software solution provider empowered with over 60 IT professional and business consultants in development, implementation and customization . FACT solutions cover and serve a wide variety of industries, Focused on Islamic Banking Islamic Insurance, Manufacturing, and Commercial sectors. Established in Jordan in 1998,FACT has since then Expanded its operation to cover the MENA region. Today, FACT is targeting the wider global market where the potential is promising and ready to compete with the international software houses .
        </span>

    </div>
  



</body>
